#!/bin/bash

backup_date=$(date +\%Y-\%m-\%d_\%Hh\%Mm\%Ss)
backup_dir="{{ mongo_backup }}/${backup_date}"
backup_file="{{ mongo_backup }}/mongo-${backup_date}.tar.gz"

mkdir -p ${backup_dir}
# Run backup from inside container - note that /backup in the container
# corresponds to /backup/mongodb on host
docker exec `docker ps -q --filter ancestor=mongo` bash -c 'mongodump --oplog -o /backup/${backup_date} -v > /backup/${backup_date}/mongodump.log'
tar zcvf ${backup_file} ${backup_dir}
rm -rf ${backup_dir}
